In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('Churn_Modelling.csv')

### Data Preprocessing

In [4]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
df=df.iloc[:,3:]

In [6]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [7]:
def GenderBinary(value):
    if value == 'Female':
        return 0
    else:
        return 1

In [8]:
df['Gender'] = df['Gender'].apply(lambda x : GenderBinary(x))

In [9]:
df.head(5)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [10]:
dum = pd.get_dummies(df['Geography'])

In [11]:
dum.head()

   France  Germany  Spain
0       1        0      0
1       0        0      1
2       1        0      0
3       1        0      0
4       0        0      1

In [12]:
df['France'] = dum['France']
df['Germany'] = dum['Germany']
df['Spain'] = dum['Spain']

In [13]:
df.drop('Geography',axis=1,inplace=True)

In [14]:
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,France,Germany,Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1,0,0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0,0,1
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1,0,0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1,0,0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0,0,1

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
X = df.drop('Exited',axis=1)
y= df['Exited']

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

### Freature Scaling

In [18]:
from sklearn.preprocessing import StandardScaler

In [19]:
sc = StandardScaler()

In [20]:
X_train = sc.fit_transform(X_train)

In [21]:
X_test = sc.transform(X_test)

### Neural Net

In [22]:
import keras

/home/pranav/anaconda2/lib/python2.7/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [37]:
from keras.models import Sequential

In [38]:
from keras.layers import Dense

In [39]:
classifier = Sequential()

In [40]:
classifier.add(Dense(units=6,activation='relu',kernel_initializer='uniform',input_dim=12))

In [41]:
classifier.add(Dense(units=6,activation='relu',kernel_initializer='uniform'))

In [42]:
classifier.add(Dense(units=1,activation='sigmoid',kernel_initializer='uniform'))

In [43]:
classifier.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [44]:
classifier.fit(X_train,y_train,batch_size=10,epochs=100)

Epoch 1/100
8000/8000 [==============================] - 3s 410us/step - loss: 0.4790 - acc: 0.7960
Epoch 2/100
8000/8000 [==============================] - 2s 270us/step - loss: 0.4296 - acc: 0.7960
Epoch 3/100
8000/8000 [==============================] - 2s 261us/step - loss: 0.4251 - acc: 0.7964
Epoch 4/100
8000/8000 [==============================] - 2s 262us/step - loss: 0.4207 - acc: 0.8175
Epoch 5/100
8000/8000 [==============================] - 2s 260us/step - loss: 0.4174 - acc: 0.8260
Epoch 6/100
8000/8000 [==============================] - 2s 275us/step - loss: 0.4155 - acc: 0.8289
Epoch 7/100
8000/8000 [==============================] - 2s 257us/step - loss: 0.4130 - acc: 0.8292
Epoch 8/100
8000/8000 [==============================] - 2s 259us/step - loss: 0.4118 - acc: 0.8332
Epoch 9/100
8000/8000 [==============================] - 2s 263us/step - loss: 0.4109 - acc: 0.8344
Epoch 10/100
8000/8000 [==============================] - 2s 265us/step - loss: 0.4096 - acc: 0.8339
Epoch 11/100
8000/8000 [==============================] - 2s 281us/step - loss: 0.4083 - acc: 0.8350
Epoch 12/100
8000/8000 [==============================] - 2s 264us/step - loss: 0.4076 - acc: 0.8332
Epoch 13/100
8000/8000 [==============================] - 2s 261us/step - loss: 0.4067 - acc: 0.8332
Epoch 14/100
8000/8000 [==============================] - 2s 274us/step - loss: 0.4058 - acc: 0.8347
Epoch 15/100
8000/8000 [==============================] - 2s 261us/step - loss: 0.4058 - acc: 0.8339
Epoch 16/100
8000/8000 [==============================] - 2s 262us/step - loss: 0.4051 - acc: 0.8342
Epoch 17/100
8000/8000 [==============================] - 2s 262us/step - loss: 0.4053 - acc: 0.8351
Epoch 18/100
8000/8000 [==============================] - 2s 255us/step - loss: 0.4043 - acc: 0.8355
Epoch 19/100
8000/8000 [==============================] - 2s 258us/step - loss: 0.4038 - acc: 0.8345
Epoch 20/100
8000/8000 [==============================] - 2s 257us/step - loss: 0.4040 - acc: 0.8362
Epoch 21/100
8000/8000 [==============================] - 2s 259us/step - loss: 0.4034 - acc: 0.8360
Epoch 22/100
8000/8000 [==============================] - 2s 259us/step - loss: 0.4027 - acc: 0.8355
Epoch 23/100
8000/8000 [==============================] - 2s 258us/step - loss: 0.4027 - acc: 0.8344
Epoch 24/100
8000/8000 [==============================] - 2s 257us/step - loss: 0.4027 - acc: 0.8345
Epoch 25/100
8000/8000 [==============================] - 2s 257us/step - loss: 0.4025 - acc: 0.8347
Epoch 26/100
8000/8000 [==============================] - 2s 262us/step - loss: 0.4022 - acc: 0.8347
Epoch 27/100
8000/8000 [==============================] - 2s 258us/step - loss: 0.4018 - acc: 0.8356
Epoch 28/100
8000/8000 [==============================] - 2s 256us/step - loss: 0.4008 - acc: 0.8345
Epoch 29/100
8000/8000 [==============================] - 2s 259us/step - loss: 0.4010 - acc: 0.8354
Epoch 30/100
8000/8000 [==============================] - 2s 252us/step - loss: 0.4009 - acc: 0.8347
Epoch 31/100
8000/8000 [==============================] - 2s 249us/step - loss: 0.3998 - acc: 0.8342
Epoch 32/100
8000/8000 [==============================] - 2s 252us/step - loss: 0.4000 - acc: 0.8335
Epoch 33/100
8000/8000 [==============================] - 2s 254us/step - loss: 0.3996 - acc: 0.8345
Epoch 34/100
8000/8000 [==============================] - 2s 256us/step - loss: 0.3993 - acc: 0.8355
Epoch 35/100
8000/8000 [==============================] - 2s 249us/step - loss: 0.3992 - acc: 0.8360
Epoch 36/100
8000/8000 [==============================] - 2s 255us/step - loss: 0.3984 - acc: 0.8372
Epoch 37/100
8000/8000 [==============================] - 2s 257us/step - loss: 0.3984 - acc: 0.8357
Epoch 38/100
8000/8000 [==============================] - 2s 256us/step - loss: 0.3984 - acc: 0.8354
Epoch 39/100
8000/8000 [==============================] - 2s 252us/step - loss: 0.3979 - acc: 0.8366
Epoch 40/100
8000/8000 [==============================] - 2s 255us/step - loss: 0.3982 - acc: 0.8372
Epoch 41/100
8000/8000 [==============================] - 2s 251us/step - loss: 0.3976 - acc: 0.8380
Epoch 42/100
8000/8000 [==============================] - 2s 252us/step - loss: 0.3978 - acc: 0.8371
Epoch 43/100
8000/8000 [==============================] - 2s 253us/step - loss: 0.3977 - acc: 0.8355
Epoch 44/100
8000/8000 [==============================] - 2s 273us/step - loss: 0.3972 - acc: 0.8366
Epoch 45/100
8000/8000 [==============================] - 2s 267us/step - loss: 0.3973 - acc: 0.8369
Epoch 46/100
8000/8000 [==============================] - 2s 251us/step - loss: 0.3977 - acc: 0.8372
Epoch 47/100
8000/8000 [==============================] - 2s 252us/step - loss: 0.3966 - acc: 0.8359
Epoch 48/100
8000/8000 [==============================] - 2s 251us/step - loss: 0.3973 - acc: 0.8365
Epoch 49/100
8000/8000 [==============================] - 2s 254us/step - loss: 0.3974 - acc: 0.8359
Epoch 50/100
8000/8000 [==============================] - 2s 252us/step - loss: 0.3977 - acc: 0.8345
Epoch 51/100
8000/8000 [==============================] - 2s 248us/step - loss: 0.3966 - acc: 0.8366
Epoch 52/100
8000/8000 [==============================] - 2s 258us/step - loss: 0.3972 - acc: 0.8366
Epoch 53/100
8000/8000 [==============================] - 2s 273us/step - loss: 0.3967 - acc: 0.8361
Epoch 54/100
8000/8000 [==============================] - 3s 331us/step - loss: 0.3969 - acc: 0.8361
Epoch 55/100
8000/8000 [==============================] - 3s 350us/step - loss: 0.3971 - acc: 0.8355
Epoch 56/100
8000/8000 [==============================] - 2s 303us/step - loss: 0.3971 - acc: 0.8372
Epoch 57/100
8000/8000 [==============================] - 2s 279us/step - loss: 0.3970 - acc: 0.8351
Epoch 58/100
8000/8000 [==============================] - 2s 269us/step - loss: 0.3968 - acc: 0.8347
Epoch 59/100
8000/8000 [==============================] - 2s 296us/step - loss: 0.3963 - acc: 0.8380
Epoch 60/100
8000/8000 [==============================] - 2s 298us/step - loss: 0.3972 - acc: 0.8360
Epoch 61/100
8000/8000 [==============================] - 2s 282us/step - loss: 0.3967 - acc: 0.8346
Epoch 62/100
8000/8000 [==============================] - 2s 278us/step - loss: 0.3957 - acc: 0.8372
Epoch 63/100
8000/8000 [==============================] - 2s 307us/step - loss: 0.3968 - acc: 0.8370
Epoch 64/100
8000/8000 [==============================] - 2s 276us/step - loss: 0.3965 - acc: 0.8379
Epoch 65/100
8000/8000 [==============================] - 2s 274us/step - loss: 0.3964 - acc: 0.8377
Epoch 66/100
8000/8000 [==============================] - 2s 299us/step - loss: 0.3966 - acc: 0.8350
Epoch 67/100
8000/8000 [==============================] - 3s 350us/step - loss: 0.3960 - acc: 0.8350
Epoch 68/100
8000/8000 [==============================] - 4s 480us/step - loss: 0.3961 - acc: 0.8365
Epoch 69/100
8000/8000 [==============================] - 3s 397us/step - loss: 0.3956 - acc: 0.8384
Epoch 70/100
8000/8000 [==============================] - 3s 328us/step - loss: 0.3967 - acc: 0.8379
Epoch 71/100
8000/8000 [==============================] - 2s 296us/step - loss: 0.3961 - acc: 0.8372
Epoch 72/100
8000/8000 [==============================] - 2s 279us/step - loss: 0.3962 - acc: 0.8374
Epoch 73/100
8000/8000 [==============================] - 2s 297us/step - loss: 0.3957 - acc: 0.8352
Epoch 74/100
8000/8000 [==============================] - 3s 322us/step - loss: 0.3958 - acc: 0.8369
Epoch 75/100
8000/8000 [==============================] - 2s 277us/step - loss: 0.3963 - acc: 0.8354
Epoch 76/100
8000/8000 [==============================] - 2s 287us/step - loss: 0.3960 - acc: 0.8377
Epoch 77/100
8000/8000 [==============================] - 3s 320us/step - loss: 0.3959 - acc: 0.8357
Epoch 78/100
8000/8000 [==============================] - 4s 442us/step - loss: 0.3959 - acc: 0.8359
Epoch 79/100
8000/8000 [==============================] - 4s 438us/step - loss: 0.3956 - acc: 0.8367
Epoch 80/100
8000/8000 [==============================] - 3s 371us/step - loss: 0.3960 - acc: 0.8380
Epoch 81/100
8000/8000 [==============================] - 3s 320us/step - loss: 0.3959 - acc: 0.8370
Epoch 82/100

8000/8000 [==============================] - 2s 274us/step - loss: 0.3957 - acc: 0.8366
Epoch 83/100
8000/8000 [==============================] - 2s 262us/step - loss: 0.3951 - acc: 0.8362
Epoch 84/100
8000/8000 [==============================] - 2s 253us/step - loss: 0.3954 - acc: 0.8375
Epoch 85/100
8000/8000 [==============================] - 2s 254us/step - loss: 0.3956 - acc: 0.8375
Epoch 86/100
8000/8000 [==============================] - 2s 255us/step - loss: 0.3958 - acc: 0.8367
Epoch 87/100
8000/8000 [==============================] - 2s 255us/step - loss: 0.3955 - acc: 0.8342
Epoch 88/100
8000/8000 [==============================] - 2s 262us/step - loss: 0.3957 - acc: 0.8362
Epoch 89/100
8000/8000 [==============================] - 2s 255us/step - loss: 0.3953 - acc: 0.8355
Epoch 90/100
8000/8000 [==============================] - 2s 265us/step - loss: 0.3953 - acc: 0.8365
Epoch 91/100
8000/8000 [==============================] - 2s 258us/step - loss: 0.3958 - acc: 0.8361
Epoch 92/100
8000/8000 [==============================] - 2s 254us/step - loss: 0.3952 - acc: 0.8367
Epoch 93/100
8000/8000 [==============================] - 2s 252us/step - loss: 0.3958 - acc: 0.8366
Epoch 94/100
8000/8000 [==============================] - 2s 256us/step - loss: 0.3954 - acc: 0.8375
Epoch 95/100
8000/8000 [==============================] - 2s 254us/step - loss: 0.3953 - acc: 0.8364
Epoch 96/100
8000/8000 [==============================] - 2s 255us/step - loss: 0.3952 - acc: 0.8362
Epoch 97/100
8000/8000 [==============================] - 2s 255us/step - loss: 0.3951 - acc: 0.8380
Epoch 98/100
8000/8000 [==============================] - 2s 251us/step - loss: 0.3951 - acc: 0.8371
Epoch 99/100
8000/8000 [==============================] - 2s 254us/step - loss: 0.3951 - acc: 0.8386
Epoch 100/100
8000/8000 [==============================] - 2s 250us/step - loss: 0.3954 - acc: 0.8374

In [45]:
y_pred = classifier.predict(X_test)

In [49]:
y_pred[:10]

array([[0.20687462],
       [0.32612312],
       [0.17490837],
       [0.05272338],
       [0.1798795 ],
       [0.8518091 ],
       [0.14916268],
       [0.0806643 ],
       [0.15614995],
       [0.87071496]], dtype=float32)

In [50]:
y_pred = (y_pred>0.5)

In [51]:
y_pred[:10]

array([[False],
       [False],
       [False],
       [False],
       [False],
       [ True],
       [False],
       [False],
       [False],
       [ True]])

In [52]:
from sklearn.metrics import confusion_matrix

In [53]:
print(confusion_matrix(y_test,y_pred))

[[1536   59]
 [ 246  159]]